{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Registraton
{% endblock title %}

{% block content %}


<div class="container">


  <div class="row">
    <div class="col-md-12">
      <div class="contact-title" >
        <h1><b>Team Registration</b></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 style="color: red">{{message}}</h1>
    </div>
  </div>




  <div class="row">
      <p>Terms and Conditions for Registration<br />

        <p>Registration form</p>

      </p>
  </div>

</div>

{% endblock content %}
