{% extends "poll/base.html" %}

{% load i18n %}

{% block poll_script %}
<script type="text/javascript">
var vote_url = '{% url "poll:poll_ajax_vote" poll.pk %}';
var result_url = '{% url "poll:poll_result" poll.pk %}';
document.addEventListener('DOMContentLoaded', function(){
		function showResults() {
				$.get(result_url, function(data) {
						$("#poll_container").html(data);
				});
		}
    $("#poll_send").click(function() {
        var item = $('#poll_form input[name=item]:checked').val();
        if (typeof item === "undefined") {
            alert("{% trans 'Please, select an answer' %}");
            return false;
        }
        $.get(vote_url, {item: item}, function() {
            showResults();
        });
        return false;
    });
});
</script>
{% endblock %}

{% block poll_content %}
<div class="poll-item">
	<form method="GET" action="." id="poll_form">
		<h3>{{ poll.title }}</h3>
		<ul>
			{% for i in items %}
			<li>
				<!-- <input type="radio" id="a-option" name="selector">
				<label for="a-option">Some Poll Option</label>
				<div class="check"></div> -->
				<input type="radio" name="item" id="item_{{ i.id }}" value="{{ i.id }}" />
				<label for="item_{{ i.id }}">{{ i.value }}</label>
				<div class="check"></div>
			</li>
			{% endfor %}
		</ul>
		<a class="poll_send" id="poll_send" value="{% trans 'Vote' %}">Vote</a>
		<!-- <p class="poll_send"><input type="button" id="poll_send" value="{% trans 'Vote' %}" /></p> -->
	</form>
</div>
{% endblock %}
