.sponsor-title{
  text-align: center;
}
.sponsor-title h3{
  background-color:#F8F9F9;
  color:black;
  padding:5px;
}
.sponsor-title img{
  max-width:500px;
}
.sub{
  width:150px;
}
.header-banner{
  float:right;
  width:800px;
  height: 80px;
  margin-top:25px;
  margin-left:150px;
}
.affix {
  width: 30px;
  z-index: 9999 !important;
  right: 0px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform:rotate(90deg);
  transform: rotate(90deg);
  white-space:nowrap;
  display:block;
  height:30px;
}
.affix ~ .container-fluid {
 position: relative;
 width: 30px;
 z-index: 9999 !important;
 right: 0px;
 -webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform:rotate(90deg);
transform: rotate(90deg);
white-space:nowrap;
display:block;
height:30px;
}
