{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{article.title}}
{% endblock title %}

{% block content %}
<div class="blog-container-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-container">
                    <!-- START BLOG ITEMS -->
                    <div class="row">
                      <div class="col-md-12 section-title profile-title">
                          <h1 style="color:black;">{{article.title}}</h1>
                      </div>
                      <hr />
                        <div class="col-md-12">
                            <div class="blog-single-thumb">
                                <img src="{{article.image.url}}" alt="" class="img-responsive">
                            </div>
                            <div class="blog-single-content-title">
                                <span><i class="fa fa-clock-o"></i>{{article.date_added}}</span>
                                <ul class="blog-share">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                </ul>
                            </div>
                            <div class="blog-single-content">
                                {{article.content|safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END OF /. BLOG CONTAINER SECTION -->
{% endblock content %}
