{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Latest Articles
{% endblock title %}

{% block content %}

<!-- START PAGE TITILE SECTION -->
<div class="player-profile-section page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-title profile-title">
                    <h1>Latest Articles</h1>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="pagination-area">
                    <ul>
                        <li><a href="{% url "website:index" %}">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        <li class="active"><a href="{% url "articles:index" 1%}">Articles</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF /. PAGE TITLE SECTION -->

<div class="blog-container-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-container">
                    <!-- START BLOG ITEMS -->
                    <div class="row">
                      {% if not articles %}
                        <div class="col-md-12">
                          <h3>Currently there are no articles published, please check back again later for more articles and updates.</h3>
                        </div>
                      {% else %}
                        {% for each in articles %}
                          <div class="col-md-6">
                              <div class="blog-items">
                                  <a href="{% url "articles:article" each.pk each.title|slugify %}">
                                      <span>Article</span>
                                      <img src="{{each.image.url}}" alt="" class="img-responsive" style="height:226px;" />
                                      <div class="blog-content-title">
                                          <h3>{{each.title}}</h3>
                                          <span><i class="fa fa-clock-o"></i>{{each.date_added}}</span>
                                      </div>
                                  </a>
                              </div>
                          </div>
                        {% endfor %}
                        <div class="col-md-12">
                            <nav aria-label="Page navigation" class="navigation">
                                <ul class="pagination">
                                  {% if articles.has_previous %}
                                    <li>
                                      <a href="{% url "articles:index" articles.previous_page_number %}" aria-label="Previous">
                                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                            <span aria-hidden="true">Prev</span>
                                        </a>
                                    </li>
                                  {% else %}
                                  <li></li>

                                  {% endif %}

                                    <!-- <li><a href="#">1</a></li> -->
                                    <li class="active">
                                      <a href="#">
                                        <span aria-hidden="true">
                                          Page {{ articles.number }} of {{ articles.paginator.num_pages }}
                                        </span>

                                      </a>
                                    </li>

                                    <!-- <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li> -->
                                     {% if articles.has_next %}
                                    <li>
                                       <a href="{% url "articles:index" articles.next_page_number %}" aria-label="Next">
                                            <span aria-hidden="true">Next</span>
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li></li>

                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                      {% endif %}

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget">
                        <div class="widget-title">
                            <h3>Today on DAFL</h3>
                        </div>
                        <div class="widget-container">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <ul class="sport-item">
                                            <li>
                                                <a href="#">
                                                    <img src="images/next-game.jpg" class="img-responsive" width="310" height="220" alt="">
                                                    <h3>Best Player in Europe final three: Cristiano Ronaldo</h3>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- end of slider /. item -->
                                    <div class="item">
                                        <ul class="sport-item">
                                            <li>
                                                <a href="#">
                                                    <img src="images/next-game.jpg" class="img-responsive" width="310" height="220" alt="">
                                                    <h3>Best Player in Europe final three: Cristiano Ronaldo</h3>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- end of slider /. item -->
                                    <div class="item">
                                        <ul class="sport-item">
                                            <li>
                                                <a href="#">
                                                    <img src="images/next-game.jpg" class="img-responsive" width="310" height="220" alt="">
                                                    <h3>Best Player in Europe final three: Cristiano Ronaldo</h3>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- end of slider /. item -->
                                    <div class="item">
                                        <ul class="sport-item">
                                            <li>
                                                <a href="#">
                                                    <img src="images/next-game.jpg" class="img-responsive" width="310" height="220" alt="">
                                                    <h3>Best Player in Europe final three: Cristiano Ronaldo</h3>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- end of slider /. item -->
                                    <div class="item">
                                        <ul class="sport-item">
                                            <li>
                                                <a href="#">
                                                    <img src="images/next-game.jpg" class="img-responsive" width="310" height="220" alt="">
                                                    <h3>Best Player in Europe final three: Cristiano Ronaldo</h3>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- end of slider /. item -->

                                </div>
                                <ol class="carousel-indicators sport-item slider-game-time">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
                                        <a href="#">
                                            <span>16:48</span>
                                            <p>Best Player in Europe final three: Cristiano Ronaldo</p>
                                        </a>
                                    </li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1">
                                        <a href="#">
                                            <span>15:24</span>
                                            <p>Sweden and Germany in last four</p>
                                        </a>
                                    </li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2">
                                        <a href="#">
                                            <span>12:28</span>
                                            <p>Men's Olympic football: day three</p>
                                        </a>
                                    </li>
                                    <li data-target="#carousel-example-generic" data-slide-to="3">
                                        <a href="#">
                                            <span>11:42</span>
                                            <p>Carvajal wins Super Cup for Madrid</p>
                                        </a>
                                    </li>
                                     <li data-target="#carousel-example-generic" data-slide-to="4">
                                        <a href="#">
                                            <span>11:42</span>
                                            <p>Praise for City signing John Stones</p>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="widget">,
                        <div class="widget-title">
                            <h3>Latest News</h3>
                        </div>
                        <div class="widget-container">
                            <div class="widget-latest-blog">
                              {% if not articles %}
                                <div class="col-md-12">
                                  <h3 style="color:white;">Currently there are no articles published, please check back again later for more articles and updates.</h3>
                                </div>
                              {% else %}
                                {% for each in articles %}
                                <div class="blog-items-sm latest-blog">
                                    <a href="{% url "articles:article" each.pk each.title|slugify %}">
                                        <div class="thumbnail">
                                            <img src="{{each.image.url}}" class="img-responsive" width="120" height="120" alt="">
                                        </div>
                                        <div class="blog-content">
                                            <span>Article</span>
                                            <h3>{{each.title}}</h3>
                                            <p><i class="fa fa-clock-o"></i>{{each.date_added}}</p>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END OF /. BLOG CONTAINER SECTION -->

{% endblock content %}
