{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">

<head>
        <!-- meta -->
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- web site title -->
        <title>{% block title %}{% endblock title %} - Delhi Amateur Football League</title>

        <!-- favicon -->
        <link rel="icon" href="{% static "images/favicon.png" %}">

        <!-- style -->
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/custom.css" %}">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js" %}"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js" %}"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
      <div class="wrapper">

        {% include "header.html" %}

        {% block content %}
        {% endblock content %}

        {% include "footer.html" %}

      </div>

    <script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery-ui-min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/jquery.downCount.js" %}"></script>
    <script src="{% static "js/bootsnav.js" %}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{% static "js/isotope.pkgd.min.js" %}"></script>
    <script src="{% static "js/jquery.prettyPhoto.js" %}"></script>
    <script src="{% static "scripts/Tweetie/tweetie.min.js" %}"></script>
    <script src="{% static "js/jquery.appear.js" %}"></script>
    <script src="{% static "js/waypoints.min.js" %}"></script>
    <script src="{% static "js/jQuery-plugin-progressbar.js" %}"></script>
    <script src="{% static "js/v.carousel.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
</body>
</html>
