{% load staticfiles %}
<!-- start twitter section -->
<div class="twitter-tweit-section">
    <div class="container-fluid footer-top-bg left-arrow-bg">
        <div class="row">
            <div class="col-md-3 bg-parent gry-bg">
                <Div class="right-bg-g"></Div>
            </div>
        </div>
    </div><!-- arrow shape -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="titter-title">
                    <h3><i class="fa fa-twitter"></i>  Recent Tweets</h3>
                    <span>Find Us:  @THE_DAFL</span>
                </div>
            </div><!-- twiiter title -->
            <div class="col-md-7">
                <div class="twitter-slide">
                    <div class="owl-carousel" id="twitter-slide">
                        <div class="item">
                            <p>The 2016 UEFA European Championship, commonly referred to as UEFA Euro 2016 or simply Euro 2016, was the 15th UEFA European</p>
                        </div>
                        <div class="item">
                            <p>The 2016 UEFA European Championship, commonly referred to as UEFA Euro 2016 or simply Euro 2016, was the 15th UEFA European</p>
                        </div>
                        <div class="item">
                            <p>The 2016 UEFA European Championship, commonly referred to as UEFA Euro 2016 or simply Euro 2016, was the 15th UEFA European</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="twitter-navigation">
                    <button class="twitter-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    <button class="twitter-perv"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                </div>
            </div><!-- end of /. col -->
        </div><!-- end of /. row -->
    </div><!-- end of /. container -->
</div><!-- end of /. twitter section -->

<!-- satrt footer top section -->
<div class="section footer-top-section">
    <div class="container-fluid footer-top-bg">
        <div class="row">
            <div class="col-md-5 col-md-offset-7 bg-parent">
                <Div class="right-bg-g"></Div>
            </div>
        </div><!-- bg arrow shape -->
    </div><!-- end of /. container -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="footer-widget">
                    <div class="widget-title">
                        <h3>About DAFL</h3>
                    </div>
                    <div class="widget-container">
                        <ul>
                           <li><a href="/pages/the-management/">The Management</a></li>
                            <li><a href="/pages/the-league/">The League</a></li>
                            <li><a href="/pages/format/">Format</a></li>
                            <li><a href="/pages/dafl-advantage/">DAFL Advantages</a></li>
                        </ul>
                    </div>
                </div><!-- end of /. widget  -->
            </div><!-- end of /. col-md-2 -->
            <div class="col-md-2">
                <div class="footer-widget">
                    <div class="widget-title">
                        <h3>Regulations</h3>
                    </div>
                    <div class="widget-container">
                        <ul>
                           <li><a href="/pages/player-eligibility/">Player's Eligibility</a></li>
                            <li><a href="/pages/code-of-conduct/">Code of Conduct</a></li>
                            <li><a href="/pages/rules-u711/">Rules for U-7 to U-11</a></li>
                            <li><a href="/pages/rules-other/">Rules for Rest</a></li>
                        </ul>
                    </div>
                </div><!-- end of /. widget  -->
            </div><!-- end of /. col-md-2 -->
            <div class="col-md-2">
                <div class="footer-widget">
                    <div class="widget-title">
                        <h3>Support</h3>
                    </div>
                    <div class="widget-container">
                        <ul>
                           <li><a href="{% url "website:contact" %}">Contact Us</a></li>
                            <li><a href="{% url "website:feedback" %}">Feedback</a></li>
                            <li><a href="/pages/faq/">FAQ</a></li>
                            <li><a href="/pages/location/">Location</a></li>
                        </ul>
                    </div>
                </div><!-- end of /. widget  -->
            </div><!-- end of /. col-md-2 -->
            <div class="col-md-2">
                <div class="footer-widget">
                    <div class="widget-title">
                        <h3>Policies</h3>
                    </div>
                    <div class="widget-container">
                        <ul>
                           <li><a href="/pages/privacy-policy/">Privacy Policy</a></li>
                            <li><a href="/pages/cookie-policy/">Cookie Policy</a></li>
                            <li><a href="/pages/terms-and-conditions/">Terms &amp; Conditions</a></li>
                            <li><a href="/pages/returns-and-refunds/">Returns &amp; Refunds</a></li>
                        </ul>
                    </div>
                </div><!-- end of /. widget  -->
            </div><!-- end of /. col-md-2 -->
            <div class="col-md-4">
                <div class="footer-logo">
                    <a href="#">
                        <img src="{% static "images/logo.png" %}" class="img-responsive" width="175" alt="">
                    </a>
                </div><!-- end of /. footer logo -->
            </div><!-- end of /.col -->
        </div><!-- end of /. row -->
    </div><!-- end of /. container -->
</div><!-- end of /. footer top -->

<!-- star footer  -->
<div class="footer-section">
    <div class="container-fluid footer-top-bg">
        <div class="row">
            <div class="col-md-5 col-md-offset-7 bg-parent">
                <Div class="right-bg-g"></Div>
            </div>
        </div><!-- end of /. row -->
    </div><!-- end of /. container -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <div class="alignleft copyright">
                    <p>&copy; All rights reserved by Football and Mee | Powered by <a href="http://www.indigeniussports.com/" target="_blank">IndiGenius Sports</a></p>
                </div><!-- end of /. copyright -->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="footer-social">
                    <p>Follow Us:</p>
                    <ul>
                        <li><a href="http://www.facebook.com/TheDAFL" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://www.twitter.com/The_DAFL" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        <li><a href="http://www.instagram.com/The_DAFL" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                    </ul>
                </div><!-- end of /. follow  -->
            </div> <!-- end of /. col -->
        </div><!-- end of /. row -->
    </div><!-- end of /. container -->
</div><!-- end of /. footer -->
