{% load staticfiles %}
  <style>


  </style>

<div class="header-section">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default cart">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed top-m-btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "website:index" %}"><img src="{% static "images/logo.png" %}" alt=""></a>
                <a href="{% url "registration:index" %}"><img src="{% static "images/top-banner.png" %}" class="header-banner img-responsive" /></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->

        </div><!-- end of /. container -->
    </nav><!-- End Navigation -->

    <!-- START MENU SECTION -->
    <nav class="navbar navbar-default bootsnav">
        <div class="container">
            <!-- Start Atribute Navigation -->
            <!-- <div class="attr-nav">
                <ul>
                    <li class="search">
                        <form action="#">
                            <input type="text" name="search" placeholder="Search"  />
                            <button><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                </ul>
            </div> -->
            <!-- End Atribute Navigation -->

             <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-left" data-in="zoomIn" data-out="zoomOut">
                    <li class="dropdown"><a href="#" class="dropdown-toggle">The DAFL</a>
                      <ul class="dropdown-menu">
                          <li><a href="/pages/the-management/">The Management</a></li>
                          <li><a href="/pages/the-league/">The League</a></li>
                          <li><a href="/pages/format/">Format</a></li>
                          <li><a href="/pages/player-eligibility/">Player's Eligibility</a></li>
                          <li><a href="/pages/dafl-advantage/">DAFL Advantages</a></li>
                          <li><a href="/pages/code-of-conduct">Code of Conduct</a></li>
                          <li><a href="/pages/location">Location</a></li>
                          <li><a href="/pages/faq">FAQ</a></li>
                      </ul>
                    </li>
                     <!-- <a href="?page={{ contacts.previous_page_number }}"> -->
                    <li><a href="{% url "articles:index" 1 %}">Articles</a></li>
                    <li><a href="{% url "stats:team-index" %}">Teams</a>
                    </li>

                    <li class="dropdown"><a href="#" class="dropdown-toggle">League Center</a>
                      <ul class="dropdown-menu">
                        {% for each in competitions %}
                          <li><a href="{% url "stats:league-page" each.pk each.name|slugify %}">{{each.name}}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle">Associations</a>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle">Fan Zone</a>
                      <ul class="dropdown-menu">
                          <li><a href="#">Photos</a></li>
                          <li><a href="#">Videos</a></li>
                          <li><a href="#">Social Wall</a></li>
                          <li><a href="#">Media Watch</a></li>
                          <li><a href="#">Merchandise</a></li>
                      </ul>
                    </li>
                    <li><a href="{% url "website:contact" %}">Contact Us</a></li>
                    <li style="background-color:red;"><a href="{% url "registration:index" %}">Register</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- end of container -->
    </nav><!-- end of /. nav -->


    <div data-spy="affix" >
      <div class="container-fluid" >
          <a href="{% url "registration:index" %}" >
            {# <font size="3">&nbsp &nbsp Register &nbsp  &nbsp </font> #}
            <img src="{%static '/images/sticky_menu/reg.png'%}" style="width:120px;height:40px;"  alt="">
          </a>
          <a href="" >
            {# <font size="3">&nbsp  &nbsp Pay Now &nbsp  &nbsp  &nbsp</font> #}
            <img src="{%static '/images/sticky_menu/pay.png'%}" style="width:130px;height:40px;"  alt="">

          </a>
     </div>
   </div>

</div><!-- end of /. nav area-->
<!-- End Navigation -->
