{% extends "base.html" %}
{% load staticfiles %}
{% load poll_tags %}

{% block title %}
Home
{% endblock title %}

{% block content %}

  <!-- START SLIDER SECTION -->
  <div class="slider-section">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="slider-content">
                      <!-- <h1>UEFA EURO 2016</h1>
                      <p>The 2016 UEFA European Championship, commonly referred to as UEFA Euro 2016 or simply Euro 2016, was the 15th UEFA European Championship</p> -->
                  </div>
              </div><!-- end of /. col -->
          </div><!-- end of /. row -->
      </div><!-- end of /. container -->
      <!-- <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="match-time-section">
                      <div class="row">
                          <div class="col-md-5">
                              <div class="time-content">
                                  <p><span>Next Match</span> (Sunday, 10 July 2016)  </p>
                                  <p><i class="fa fa-map-marker"></i> <b>Location:</b> Stade de France, Saint-Denis</p>
                                  <p><i class="fa fa-street-view" aria-hidden="true"></i> <b>Referee:</b> Mark Clattenburg (ENG)</p>
                              </div>
                          </div>
                          <div class="col-md-7">
                              <div id="countdowntimer">
                                  <ul class="countdown" >
                                      <li class="couner-box">
                                          <span class="days">00</span>
                                          <p class="displayformat">Days</p>
                                          <p class="time-divder">:</p>
                                      </li>
                                      <li class="couner-box">
                                          <span class="hours">00</span>
                                          <p class="displayformat">Hours</p>
                                          <p class="time-divder">:</p>
                                      </li>
                                      <li class="couner-box">
                                          <span class="minutes">00</span>
                                          <p class="displayformat">Minutes</p>
                                          <p class="time-divder">:</p>
                                      </li>
                                      <li class="couner-box">
                                          <span class="seconds">00</span>
                                          <p class="displayformat">Seconds</p>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="bestplayer" id="bestplayer">
                      <div class="best-player-area row">
                          <div class="col-md-3">
                              <b>06 Aug</b>
                          </div>
                          <div class="col-md-9">
                              <p>Vote for your Goal and Save of the Season</p>
                          </div>
                      </div>
                      <div class="best-player-area row">
                          <div class="col-md-3">
                              <b>06 Aug</b>
                          </div>
                          <div class="col-md-9">
                              <p>Vote for your Goal and Save of the Season</p>
                          </div>
                      </div>
                      <div class="best-player-area row">
                          <div class="col-md-3">
                              <b>06 Aug</b>
                          </div>
                          <div class="col-md-9">
                              <p>Vote for your Goal and Save of the Season</p>
                          </div>
                      </div>
                      <div class="best-player-area row">
                          <div class="col-md-3">
                              <b>06 Aug</b>
                          </div>
                          <div class="col-md-9">
                              <p>Vote for your Goal and Save of the Season</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>-->
  </div><!-- END OF /. SLIDER SECTION -->

  <!-- START MAIN CONTANER -->
  <div class="section blog-container-1">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="blog-container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="title-section">
                                  <h2>Football <b>Feed</b></h2>
                                  <a href="{% url "articles:index" 1 %}">Read More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                              </div><!-- end /. title section -->
                          </div><!-- end of /. col -->
                      </div><!-- end of /. row -->

                      <!-- START BLOG ITEMS -->
                      <div class="row">
                        {% if latest_articles %}
                          {% for each in latest_articles %}
                              <div class="col-md-6">
                                  <div class="blog-items">
                                      <a href="{% url "articles:article" each.pk each.title|slugify %}">
                                          <img src="{{each.image.url}}" alt="" style="height:226px;" />
                                          <div class="blog-content-title">
                                              <h3>{{each.title}}</h3>
                                              <span><i class="fa fa-clock-o"></i>{{each.date_added}}</span>
                                          </div>
                                      </a>
                                  </div>
                              </div><!-- end of /. col -->
                            {% endfor %}
                        {% else %}
                          <div class="col-md-12">
                            <p>Sorry. Presently, there are no articles. Please check back again later for any updates.</p>
                          </div>
                        {% endif %}
                          <div class="col-md-6">
                              <div class="title-section sm-title">
                                  <h2>Top <b>Player</b></h2>
                              </div><!-- end of /. col -->
                              <div class="blog-items">
                                  <div class="owl-carousel top-player" id="player">
                                    {% for each in top_players %}
                                      <div class="item">
                                          <a href="#">
                                              <img src="{{each.player.picture.url}}" alt="" />
                                              <div class="blog-content-title">
                                                  <h3>{{each.player.name}}</h3>
                                              </div>
                                          </a>
                                      </div>
                                    {% endfor %}
                                  </div>
                                  <div class="player-navigation arrow-style">
                                      <button class="player-next"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                      <button class="player-prev"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="title-section sm-title">
                                  <h2><b>Polls</b></h2>
                                  <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                              </div>
                              <div class="blog-items our-polls">
                                  {% poll %}
                                  <!-- <div class="poll-item">
                                      <h3>Are Fernando Santos's Best Footballer in the team?</h3>
                                          <ul>
                                              <li>
                                                  <input type="radio" id="a-option" name="selector">
                                                  <label for="a-option">Some Poll Option</label>
                                                  <div class="check"></div>
                                              </li>
                                              <li>
                                                  <input type="radio" id="b-option" name="selector">
                                                  <label for="b-option">Some Poll Option</label>
                                                  <div class="check"><div class="inside"></div></div>
                                              </li>
                                              <li>
                                                  <input type="radio" id="c-option" name="selector">
                                                  <label for="c-option">Some Poll Option</label>
                                                  <div class="check"><div class="inside"></div></div>
                                              </li>
                                              <li>
                                                  <input type="radio" id="d-option" name="selector">
                                                  <label for="d-option">Some Poll Option</label>
                                                  <div class="check"><div class="inside"></div></div>
                                              </li>
                                          </ul>
                                      <a href="#">Submit My Answer</a>
                                  </div> -->
                              </div>
                          </div>
                      </div>
                  </div><!-- end of /. blog container -->
              </div><!-- end of /. col -->
              {% include "sidebar.html" %}
          </div><!-- end of /. row -->
      </div><!-- end of /. container -->
  </div><!-- end of /. blog container section -->


  <!-- start video section -->
  <div class="section video-section">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="title-section">
                      <h2>HOT <b>Videos</b></h2>
                      <div class="recent-navigation arrow-style">
                          <button class="video-perv"><i class="fa fa-chevron-left" aria-hidden="true"></i>
</button>
                          <button class="video-next"><i class="fa fa-chevron-right" aria-hidden="true"></i>
</button>
                      </div>
                  </div>
              </div><!-- end of /. col -->
          </div><!-- end of /. row -->
          <div class="row">
              <div class="col-md-12">
                  <div class="row owl-carousel gallery" id="hot-video">
                    {% if latest_videos %}
                      {% for each in latest_videos %}
                        <div class="item">
                            <div class="video-items">
                                <a href="{{each.youtube_link}}" data-gal="prettyPhoto[gallery2]">
                                    <img src="{{each.image.url}}"  width="370" height="370" alt="">
                                    <h3><i class="fa fa-play" aria-hidden="true"></i>{{each.title}}</h3>
                                </a>
                            </div>
                        </div><!-- end of /. item -->
                      {% endfor %}
                    {% endif %}
                  </div>
              </div><!-- end of /. col -->
          </div><!-- end of /. row -->

          <div class="row">
            <div class="col-md-12">
              <div class="sponsor-title">
                <h3>Title Sponsor</h3>
                <img src="{% static "images/sponsors/title-sponsor.png" %}" />
              </div>
              <div class="sponsor-title">
                <h3>Associate Sponsors</h3>
                <img src="{% static "images/sponsors/associate-sponsor.png" %}" />
              </div>
              <div class="sponsor-title">
                <h3>Official Sponsors</h3>
                <img src="{% static "images/sponsors/official-partner.gif" %}" />
                <div class="row">
                  <div class="col-md-3">
                    <div class="sponsor-title">
                      <h3>Media Partner</h3>
                      <img class="sub" src="{% static "images/sponsors/fever-pitch.png" %}" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="sponsor-title">
                      <h3>Venue Partner</h3>
                      <img class="sub" src="{% static "images/sponsors/the-ball-park.png" %}" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="sponsor-title">
                      <h3>League Organizer</h3>
                      <img class="sub" src="{% static "images/sponsors/football-me.png" %}" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="sponsor-title">
                      <h3>Strategic Partner</h3>
                      <img class="sub" src="{% static "images/sponsors/indigenius.png" %}" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


      </div><!-- end of /. container -->
  </div><!-- end of /. video section -->

{% endblock content %}
