<div class="col-md-4">
    <div class="sidebar">
        <div class="widget">
            <div class="widget-title">
                <h3>Recent Results</h3>
                <div class="recent-navigation arrow-style">
                    <button class="recent-re-next"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                    <button class="recent-re-prev"><i class="fa fa-chevron-right" aria-hidden="true"></i></i></button>
                </div>
            </div>
            <div class="widget-container">
                <div class="owl-carousel" id="recent-result">
                    <div class="item">
                        <div class="recent-items">
                            <a href="#">
                                <h4>06 Aug, 2016</h4>
                                <div class="result-coutry-area">
                                    <div class="result-item">
                                        <p>Portogal</p>
                                        <img src="images/flag1.png" alt="" />
                                    </div>
                                    <div class="result-item">
                                        <p>1-0</p>
                                    </div>
                                    <div class="result-item">
                                         <img src="images/flag2.png" alt="" />
                                         <p>France</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="recent-items">
                            <a href="#">
                                <h4>06 Aug, 2016</h4>
                                <div class="result-coutry-area">
                                    <div class="result-item">
                                        <p>Portogal</p>
                                        <img src="images/flag1.png" alt="" />
                                    </div>
                                    <div class="result-item">
                                        <p>1-0</p>
                                    </div>
                                    <div class="result-item">
                                         <img src="images/flag2.png" alt="" />
                                         <p>France</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="recent-items">
                            <a href="#">
                                <h4>06 Aug, 2016</h4>
                                <div class="result-coutry-area">
                                    <div class="result-item">
                                        <p>Portogal</p>
                                        <img src="images/flag1.png" alt="" />
                                    </div>
                                    <div class="result-item">
                                        <p>1-0</p>
                                    </div>
                                    <div class="result-item">
                                         <img src="images/flag2.png" alt="" />
                                         <p>France</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="recent-items">
                            <a href="#">
                                <h4>06 Aug, 2016</h4>
                                <div class="result-coutry-area">
                                    <div class="result-item">
                                        <p>Portogal</p>
                                        <img src="images/flag1.png" alt="" />
                                    </div>
                                    <div class="result-item">
                                        <p>1-0</p>
                                    </div>
                                    <div class="result-item">
                                         <img src="images/flag2.png" alt="" />
                                         <p>France</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><!-- end of /. item -->
                    <div class="item">
                        <div class="recent-items">
                            <a href="#">
                                <h4>06 Aug, 2016</h4>
                                <div class="result-coutry-area">
                                    <div class="result-item">
                                        <p>Portogal</p>
                                        <img src="images/flag1.png" alt="" />
                                    </div>
                                    <div class="result-item">
                                        <p>1-0</p>
                                    </div>
                                    <div class="result-item">
                                         <img src="images/flag2.png" alt="" />
                                         <p>France</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="recent-items">
                            <a href="#">
                                <h4>06 Aug, 2016</h4>
                                <div class="result-coutry-area">
                                    <div class="result-item">
                                        <p>Portogal</p>
                                        <img src="images/flag1.png" alt="" />
                                    </div>
                                    <div class="result-item">
                                        <p>1-0</p>
                                    </div>
                                    <div class="result-item">
                                         <img src="images/flag2.png" alt="" />
                                         <p>France</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="recent-items">
                            <a href="#">
                                <h4>06 Aug, 2016</h4>
                                <div class="result-coutry-area">
                                    <div class="result-item">
                                        <p>Portogal</p>
                                        <img src="images/flag1.png" alt="" />
                                    </div>
                                    <div class="result-item">
                                        <p>1-0</p>
                                    </div>
                                    <div class="result-item">
                                         <img src="images/flag2.png" alt="" />
                                         <p>France</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="recent-items">
                            <a href="#">
                                <h4>06 Aug, 2016</h4>
                                <div class="result-coutry-area">
                                    <div class="result-item">
                                        <p>Portogal</p>
                                        <img src="images/flag1.png" alt="" />
                                    </div>
                                    <div class="result-item">
                                        <p>1-0</p>
                                    </div>
                                    <div class="result-item">
                                         <img src="images/flag2.png" alt="" />
                                         <p>France</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><!-- end of /. item -->
                </div>
            </div>
        </div><!-- end of /. widget -->
        <div class="widget">
            <div class="widget-title">
                <h3>Club Ranking</h3>
                <div class="custom-navigation arrow-style">
                    <button class="club-rank-perv"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                    <button class="club-rank-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="widget-container">
                <div class="owl-carousel" id="club-rank">
                    <div class="item">
                        <div class="club-items">
                            <span>1</span>
                            <div class="club-logo">
                                <img src="images/club1.png" width="21" height="28" alt="">
                            </div>
                            <p>Legacy</p>
                            <b>86</b>
                        </div>
                        <div class="club-items">
                            <span>2</span>
                            <div class="club-logo">
                                <img src="images/club2.png" width="21" height="28" alt="">
                            </div>
                            <p>Teamfoot</p>
                            <b>64</b>
                        </div>
                        <div class="club-items">
                            <span>3</span>
                            <div class="club-logo">
                                <img src="images/club3.png" width="21" height="28" alt="">
                            </div>
                            <p>Real M.</p>
                            <b>68</b>
                        </div>
                        <div class="club-items">
                            <span>4</span>
                            <div class="club-logo">
                                <img src="images/club4.png" width="21" height="28" alt="">
                            </div>
                            <p>Foolianto</p>
                            <b>72</b>
                        </div>
                    </div>
                    <div class="item">
                        <div class="club-items">
                            <span>1</span>
                            <div class="club-logo">
                                <img src="images/club1.png" width="21" height="28" alt="">
                            </div>
                            <p>Legacy</p>
                            <b>86</b>
                        </div>
                        <div class="club-items">
                            <span>2</span>
                            <div class="club-logo">
                                <img src="images/club2.png" width="21" height="28" alt="">
                            </div>
                            <p>Teamfoot</p>
                            <b>64</b>
                        </div>
                        <div class="club-items">
                            <span>3</span>
                            <div class="club-logo">
                                <img src="images/club3.png" width="21" height="28" alt="">
                            </div>
                            <p>Real M.</p>
                            <b>68</b>
                        </div>
                        <div class="club-items">
                            <span>4</span>
                            <div class="club-logo">
                                <img src="images/club4.png" width="21" height="28" alt="">
                            </div>
                            <p>Foolianto</p>
                            <b>72</b>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end of /. widget -->
    </div><!-- end of /. sidebar -->
</div><!-- end of /. col -->
