{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{league.name}}
{% endblock title %}

{% block content %}
{% if fixtures|length > 0 %}
<div class="match-today-section">
  <div class="container">

    <div class="row">
      <div class="match-today-features">
        <div class="col-md-4 col-md-12 col-xs-12">
          <div class="match-left">
            <div class="today-team-img teamsname">
              <a href="#"><img src="{{fixtures.0.home_team.logo.url}}" width="65" height="63" alt=""></a>
            </div>
            <div class="today-team-name teamsname">
              <h1>{{fixtures.0.home_team}}</h1>

            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-12 col-xs-12">
          <div class="team-vs-team">
            <h1>VS</h1>
          </div>
        </div>
        <div class="col-md-4 col-md-12 col-xs-12">
          <div class="match-right">
            <div class="today-team-name teamsname">
              <h1>{{fixtures.0.away_team}}</h1>
            </div>
            <div class="today-team-img teamsname">
              <a href="#"><img src="{{fixtures.0.away_team.logo.url}}" width="65" height="63" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="nex-match">
          <h2>Next Match: <span>({{fixtures.0.date_of_match}})</span></h2>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>Location: {{fixtures.0.match_location}}</p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if fixtures|length < 1 %}
<div class="match-today-section">
  <div class="container">

    <div class="row">
      <div class="match-today-features">
        <div class="col-md-12 col-md-12 col-xs-12">
          <div >
            <h1 style="text-align: center;color: white"><b>No Upcoming Match.</b></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="club-play-histry">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="super-cup-title">
          <h1><span><b>{{league.name}}</b></span></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="tab-area">
          <!-- Nav tabs -->

          <ul class="nav nav-tabs nav-justified " role="tablist">
            <li  role="presentation" class="active"><a href="#fixtures" aria-controls="fixtures" role="tab" data-toggle="tab">Fixtures</a></li>
            <li  role="presentation"><a href="#results" aria-controls="results" role="tab" data-toggle="tab">Results</a></li>
            <li  role="presentation"><a href="#points" aria-controls="teams" role="tab" data-toggle="tab">Points Table</a></li>
            <li  role="presentation"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Top Scorers</a></li>
            <li  role="presentation"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Top Assists</a></li>
            <li  role="presentation"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Bookings</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="results">
              <div class="fixture-section">
                <div class="container">

                  <div class="row inner-custom-row">
                    <div class="col-md-12">
                      {% for each in results %}

                      <div class="row">
                        <div class="white-match">
                          <div class="col-md-4">
                            <div class="match-left">
                              <div class="fixture-team-img">
                                <a href="{% url "stats:team-page" each.home_team.pk each.home_team.name|slugify %}"><img src="{{each.home_team.logo.url}}" width="80" height="77" alt="image"></a>
                              </div>
                              <div class="fixture-team-name fixture-team-left">
                                <h1>{{each.home_team.name}}</h1>
                                <p>{{each.home_team.state}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="fixture-team-date">
                              <a href="{% url "stats:match" each.pk each.home_team.name|slugify %}"><h1>{{each.date_of_match}}</h1></a>
                              <a href="{% url "stats:match" each.pk each.home_team.name|slugify %}"><p>{{each.match_location}}</p></a>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="match-right">
                              <div class="fixture-team-name fixture-team-right text-right">
                                <h1>{{each.away_team.name}}</h1>
                                <p>{{each.away_team.state}}</p>
                              </div>
                              <div class="fixture-team-img">
                                <a href="{% url "stats:team-page" each.away_team.pk each.away_team.name|slugify %}"><img src="{{each.away_team.logo.url}}" width="80" height="77" alt="image"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}


                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div role="tabpanel" class="tab-pane" id="fixtures">


              <div class="fixture-section">
                <div class="container">

                  <div class="row inner-custom-row">
                    <div class="col-md-12">
                      {% for each in fixtures %}

                      <div class="row">
                        <div class="white-match">
                          <div class="col-md-4">
                            <div class="match-left">
                              <div class="fixture-team-img">
                                <a href="{% url "stats:team-page" each.home_team.pk each.home_team.name|slugify %}"><img src="{{each.home_team.logo.url}}" width="80" height="77" alt="image"></a>
                              </div>
                              <div class="fixture-team-name fixture-team-left">
                                <h1>{{each.home_team.name}}</h1>
                                <p>{{each.home_team.state}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="fixture-team-date">
                              <h1>{{each.date_of_match}}</h1>
                              <p>{{each.match_location}}</p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="match-right">
                              <div class="fixture-team-name fixture-team-right text-right">
                                <h1>{{each.away_team.name}}</h1>
                                <p>{{each.away_team.state}}</p>
                              </div>
                              <div class="fixture-team-img">
                                <a href="{% url "stats:team-page" each.away_team.pk each.away_team.name|slugify %}"><img src="{{each.away_team.logo.url}}" width="80" height="77" alt="image"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="points">

              <div class="point-table-page">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="point-table-area">
                        <div class="point-title-area">
                          <table class="table">
                            <thead>
                              <tr>
                                <th width="20%" scope="row">Team</th>
                                <!-- <th width="10%" class="text-center">Playered</th> -->
                                <th width="10%" class="text-center">Won</th>
                                <th width="10%" class="text-center">Draw</th>
                                <th width="10%" class="text-center">Lost </th>
                                <th width="10%" class="text-center">For</th>
                                <th width="10%" class="text-center">Against</th>
                                <th width="10%" class="text-center">Goal dif.</th>
                                <th width="10%" class="text-center">Points</th>
                              </tr>
                            </thead>
                          </table>
                        </div>
                        <div class="point-itmes">
                          <table class="table table-striped-inverse point-table">
                            <tbody>
                              {% for each in teamPoint %}
                              <tr>
                                <th data-th="Team" width="20%" scope="row">
                                  <a href= "{% url "stats:team-page" each.team.pk each.team.name|slugify %}">
                                    <img src="{{each.team.logo.url}}" alt="team image" />

                                    <span>{{each.team.name}}</span>
                                  </a>
                                </th>
                                <!-- <td data-th="Playered" width="10%" class="text-center">3</td> -->
                                <td data-th="Won" width="10%" class="text-center">{{each.wins}}</td>
                                <td data-th="Draw" width="10%" class="text-center">{{each.draws}}</td>
                                <td data-th="Lost" width="10%" class="text-center">{{each.lose}}</td>
                                <td data-th="For" width="10%" class="text-center">{{each.goal_for}}</td>
                                <td data-th="Against" width="10%" class="text-center">{{each.goal_against}}</td>
                                <td data-th="Goal dif." width="10%" class="text-center">{{each.goal_diff}}</td>
                                <td data-th="Points" width="10%" class="text-center">{{each.points}}</td>
                              </tr>
                              {% endfor %}

                            </tbody>
                          </table>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
