{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{player.name}}
{% endblock title %}

{% block content %}

{% if fixtures|length > 0 %}
<div class="match-today-section">
  <div class="container">
    <div class="row">
      <div class="match-today-features">
        <div class="col-md-4 col-md-12 col-xs-12">
          <div class="match-left">
            <div class="today-team-img teamsname">
              <a href="#"><img src="{{fixtures.0.home_team.logo.url}}" width="65" height="63" alt=""></a>
            </div>
            <div class="today-team-name teamsname">
              <h1>{{fixtures.0.home_team}}</h1>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-12 col-xs-12">
          <div class="team-vs-team">
            <h1>VS</h1>
          </div>
        </div>
        <div class="col-md-4 col-md-12 col-xs-12">
          <div class="match-right">
            <div class="today-team-name teamsname">
              <h1>{{fixtures.0.away_team}}</h1>
            </div>
            <div class="today-team-img teamsname">
              <a href="#"><img src="{{fixtures.0.away_team.logo.url}}" width="65" height="63" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if fixtures|length < 1 %}
<div class="match-today-section">
  <div class="container">
  </div>
</div>
{% endif %}

<div class="club-play-histry">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="tab-area">
          <!-- Nav tabs -->

          <ul class="nav nav-tabs nav-justified " role="tablist">
            <li  role="presentation" class="active"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Preview</a></li>
            <li  role="presentation" ><a href="#lineup" aria-controls="lineup" role="tab" data-toggle="tab">Line-Up</a></li>
            <li  role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Stats</a></li>
            <li  role="presentation"><a href="#reports" aria-controls="reports" role="tab" data-toggle="tab">Report</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="preview">
              <div class="fixture-section">
                <div class="container">
                  <div class="row inner-custom-row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="white-match">
                          <div class="col-md-4">
                            <div class="match-left">
                              {{match.preview|safe}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="lineup">
              <div class="fixture-section">
                <div class="container">
                  <div class="row inner-custom-row">
                    <div class="col-md-12">
                      <div class="row"><h1><b>Players Playing</b></h1></div>
                      {% for each in match.home_players_playing.all %}
                      <div class="row">
                        <div class="white-match">

                          <div class="col-md-4">
                            <div class="match-left">
                              <div class="fixture-team-img">
                                <img src="{{each.picture.url}}" width="80" height="77" alt="image">
                              </div>
                              <div class="fixture-team-name fixture-team-left">
                                <h1>{{each.name}}</h1>
                                <!-- <p>{{each.home_team.state}}</p> -->
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                          </div>

                          <div class="col-md-4">
                            <div class="match-right">
                              <div class="fixture-team-name fixture-team-right text-right">
                                <h3>{{each.get_player_type_display}} <i class="fa fa-street-view" aria-hidden="true"></i></h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                      {% for each in match.away_players_playing.all %}
                      <div class="row">
                        <div class="white-match">

                          <div class="col-md-4">
                            <div class="match-left">
                              <div class="fixture-team-img">
                                <img src="{{each.picture.url}}" width="80" height="77" alt="image">
                              </div>
                              <div class="fixture-team-name fixture-team-left">
                                <h1>{{each.name}}</h1>
                                <!-- <p>{{each.home_team.state}}</p> -->
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                          </div>

                          <div class="col-md-4">
                            <div class="match-right">
                              <div class="fixture-team-name fixture-team-right text-right">
                                <h3>{{each.get_player_type_display}} <i class="fa fa-street-view" aria-hidden="true"></i></h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                      <div class="row"><h1><b>Substitute Players</b></h1></div>

                      {% for each in match.home_players_substitutes.all %}
                      <div class="row">
                        <div class="white-match">

                          <div class="col-md-4">
                            <div class="match-left">
                              <div class="fixture-team-img">
                                <img src="{{each.picture.url}}" width="80" height="77" alt="image">
                              </div>
                              <div class="fixture-team-name fixture-team-left">
                                <h1>{{each.name}}</h1>
                                <!-- <p>{{each.home_team.state}}</p> -->
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                          </div>

                          <div class="col-md-4">
                            <div class="match-right">
                              <div class="fixture-team-name fixture-team-right text-right">
                                <h3>{{each.get_player_type_display}} <i class="fa fa-street-view" aria-hidden="true"></i></h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                      {% for each in match.away_players_substitutes.all %}
                      <div class="row">
                        <div class="white-match">

                          <div class="col-md-4">
                            <div class="match-left">
                              <div class="fixture-team-img">
                                <img src="{{each.picture.url}}" width="80" height="77" alt="image">
                              </div>
                              <div class="fixture-team-name fixture-team-left">
                                <h1>{{each.name}}</h1>
                                <!-- <p>{{each.home_team.state}}</p> -->
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                          </div>

                          <div class="col-md-4">
                            <div class="match-right">
                              <div class="fixture-team-name fixture-team-right text-right">
                                <h3>{{each.get_player_type_display}} <i class="fa fa-street-view" aria-hidden="true"></i></h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                    </div>
                  </div>

                </div>
              </div>


            </div>

            <div role="tabpanel" class="tab-pane" id="stats">


              <div class="fixture-section">
                <div class="container">

                  <div class="row inner-custom-row">
                    <div class="col-md-12">
                      {% for each in fixtures %}

                      <div class="row">
                        <div class="white-match">
                          <div class="col-md-4">
                            <div class="match-left">
                              <div class="fixture-team-img">
                                <a href="{% url "stats:team-page" each.home_team.pk each.home_team.name|slugify %}"><img src="{{each.home_team.logo.url}}" width="80" height="77" alt="image"></a>
                              </div>
                              <div class="fixture-team-name fixture-team-left">
                                <h1>{{each.home_team.name}}</h1>
                                <p>{{each.home_team.state}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="fixture-team-date">
                              <h1>{{each.date_of_match}}</h1>
                              <p>{{each.match_location}}</p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="match-right">
                              <div class="fixture-team-name fixture-team-right text-right">
                                <h1>{{each.away_team.name}}</h1>
                                <p>{{each.away_team.state}}</p>
                              </div>
                              <div class="fixture-team-img">
                                <a href="{% url "stats:team-page" each.away_team.pk each.away_team.name|slugify %}"><img src="{{each.away_team.logo.url}}" width="80" height="77" alt="image"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                    </div>
                  </div>
                </div>
              </div>

            </div>


            <div role="tabpanel" class="tab-pane" id="reports">
              <div class="fixture-section">
                <div class="container">
                  <div class="row inner-custom-row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="white-match">
                          <div class="col-md-4">
                            <div class="match-left">
                              {{match.report|safe}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
