{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{player.name}}
{% endblock title %}

{% block content %}
    <div class="player-profile-section page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="section-title profile-title">
                        <h1>Player Profile</h1>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!-- END OF /. PAGE TITLE SECTION -->
    
    <div class="player-carear-details">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="profile-images-match">
                        <a href="#"><img class="img-responsive" src="{{player.picture.url}}" width="370" height="370" alt=""></a>
                        </div>
                </div>
                <div class="col-sm-8">
                    <div class="player-carryer-total-des">
                        <h1 id="profile-title"><b>{{player.name}}</b>
                        <!-- <span>#21</span> -->
                        </h1>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="player-description">
                                    <p>{{player.about}}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="player-other-desc-inner">
                                    <div class="player-desc-1">
                                        <div class="player-other-desc">
                                            <h1>Legacy (India)</h1>
                                            <p>Football Club</p>
                                        </div>
                                        <div class="player-other-desc">
                                            <h1>Date of Birth</h1>
                                            <p>{{player.dob}}</p>
                                        </div>
                                        <div class="player-other-desc">
                                            <h1>Height & Weight</h1>
                                            <p>{{player.height}}cm , {{player.weight}}kg</p>
                                        </div>
                                    </div>

                                    <div class="player-desc-1">
                                        <div class="player-other-desc">
                                            <h1>Full Name</h1>
                                            <p>{{player.name}}</p>
                                        </div>
                                        <div class="player-other-desc">
                                            <h1>Nationality</h1>
                                            <p>{{player.nationality}}</p>
                                        </div>
                                        <div class="player-other-desc">
                                            <h1>Social</h1>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- <div class="player-performances">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="player-states">
                        <h1 class="before">Player <b>Stats</b></h1>
                        <div class="skillst1">
                            <div class="skillbar-items">
                                <div class="title">General</div>
                                <div class="skillbar progress" data-percent="24%">
                                     <div class="count"></div>
                                    <div class="count-bar progress-bar progress-bar-striped"></div>
                                </div>
                            </div>
                            <div class="skillbar-items">
                                <div class="title">Attack</div>
                                <div class="skillbar progress" data-percent="82%">
                                     <div class="count"></div>
                                    <div class="count-bar progress-bar progress-bar-striped"></div>
                                </div>
                            </div>
                            <div class="skillbar-items">
                                <div class="title">Defence</div>
                                <div class="skillbar progress" data-percent="40%">
                                     <div class="count"></div>
                                    <div class="count-bar progress-bar progress-bar-striped"></div>
                                </div>
                            </div>
                            <div class="skillbar-items">
                                <div class="title">Discipline</div>
                                <div class="skillbar progress" data-percent="64%">
                                     <div class="count"></div>
                                    <div class="count-bar progress-bar progress-bar-striped"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="player-states">
                        <h1 class="before">Player <b>Performance</b></h1>
                        <div class="player-performance-inner player-performance">
                            <div class="circle-proggress-items">
                                <div id="demo-pie-1" class="pie-title-center" data-percent="56"> <span class="pie-value"></span> </div>
                                <span class="progress-content"><B>Games Won</B></span>
                            </div>
                            <div class="circle-proggress-items">
                                <div id="demo-pie-2" class="pie-title-center" data-percent="64"> <span class="pie-value"></span> </div>
                                <span class="progress-content"><B>Matches Activity</B></span>
                            </div>
                            <div class="circle-proggress-items">
                                <div id="demo-pie-3" class="pie-title-center" data-percent="38"> <span class="pie-value"></span> </div>
                                <span class="progress-content"><B>Membership Value</B></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


{% endblock content %}