{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Teams
{% endblock title %}

{% block content %}
<!-- START PAGE TITILE SECTION -->
<div class="player-profile-section page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title profile-title">
                        <h1>DAFL Teams</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF /. PAGE TITLE SECTION -->

    <div class="blog-container-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-container">
                        <!-- START BLOG ITEMS -->
                        {% for each in competitions %}
                          <div class="title-section">
                              <h2><b>{{each.name}}</b></h2>
                          </div>
                              <div class="row">
                                {% for x in each.team_set.all %}
                                  <div class="col-md-2" style="margin-bottom:15px;">
                                    {% if x.logo %}
                                    <a href="{% url "stats:team-page" x.pk x.name|slugify %}"><img src="{{x.logo.url}}" class="img-responsive" style="width:300px;" /></a>
                                    <p style="text-align:center;"><a href="{% url "stats:team-page" x.pk x.name|slugify %}"><b>{{x.name}}</b></a></p>
                                    {% else %}
                                    <p style="text-align:center;"><a href="{% url "stats:team-page" x.pk x.name|slugify %}"><b>{{x.name}}</b></a></p>
                                    {% endif %}
                                  </div>
                                {% endfor %}
                              </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- END OF /. BLOG CONTAINER SECTION -->

{% endblock content %}
