{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{team.name}}
{% endblock title %}

{% block content %}

<div class="club-histry-feature-section">
    <div class="container">
        <div class="row">
            <div class="inner-container">
                <div class="col-sm-2">
                    <div class="club-histry-img">
                        <a href="#"><img class="img-responsive" src="{{team.logo.url}}" alt="image"  width="169" height="222" ></a>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="club-histry">
                        <h1>{{team.name}} </h1>
                        <div class="player-description">
                            <p>{{team.about}}</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="club-histry">
                        <h1>About <b>the team</b></h1>
                    </div>
                    <div class="club-details">
                        <div class="start-time club-details-inner">
                            <h1>Established</h1>
                            <p>{{team.date_added}}</p>
                        </div>
                        <div class="club-name club-details-inner">
                            <h1>Phone no.</h1>
                            <p>{{team.contact_no}}</p>
                        </div>

                    </div>
                    <div class="club-details">
                      <div class="stadium-name club-details-inner">
                          <h1>Location</h1>
                          <p>{{team.locations}}</p>
                      </div>
                      <div class="club-name club-details-inner">
                          <h1>Email</h1>
                          <p>{{team.email}}</p>
                      </div>

                    </div>
                    <div class="club-details">
                        <div class="club-social club-details-inner">
                            <h1>Social</h1>
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="club-play-histry">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-area">
                    <!-- Nav tabs -->

                    <ul class="nav nav-tabs nav-justified " role="tablist">
                       <li  role="presentation" class="active"><a href="#results" aria-controls="results" role="tab" data-toggle="tab">Results</a></li>

                       <li  role="presentation" ><a href="#fixtures" aria-controls="fixtures" role="tab" data-toggle="tab">Fixtures</a></li>

                       <li  role="presentation"><a href="#squad" aria-controls="squad" role="tab" data-toggle="tab">Squad</a></li>

                       <li  role="presentation"><a href="#management" aria-controls="management" role="tab" data-toggle="tab">Management</a></li>

                   </ul>





                   <!-- Tab panes -->
                   <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="results">


                        <div class="fixture-section">
                            <div class="container">

                                <div class="row inner-custom-row">
                                    <div class="col-md-12">
                                        {% for each in results1 %}

                                        <div class="row">
                                            <div class="white-match">
                                                <div class="col-md-4">
                                                    <div class="match-left">
                                                        <div class="fixture-team-img">
                                                            <a href="{% url "stats:team-page" each.home_team.pk each.home_team.name|slugify %}"><img src="{{each.home_team.logo.url}}" width="80" height="77" alt="image"></a>
                                                        </div>
                                                        <div class="fixture-team-name fixture-team-left">
                                                            <h1>{{each.home_team.name}}</h1>
                                                            <p>{{each.home_team.state}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="fixture-team-date">
                                                        <h1>{{each.date_of_match}}</h1>
                                                        <p>{{each.match_location}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="match-right">
                                                        <div class="fixture-team-name fixture-team-right text-right">
                                                            <h1>{{each.away_team.name}}</h1>
                                                            <p>{{each.away_team.state}}</p>
                                                        </div>
                                                        <div class="fixture-team-img">
                                                            <a href="{% url "stats:team-page" each.away_team.pk each.away_team.name|slugify %}"><img src="{{each.away_team.logo.url}}" width="80" height="77" alt="image"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for each in results2 %}

                                        <div class="row">
                                            <div class="white-match">
                                                <div class="col-md-4">
                                                    <div class="match-left">
                                                        <div class="fixture-team-img">
                                                            <a href="{% url "stats:team-page" each.home_team.pk each.home_team.name|slugify %}"><img src="{{each.home_team.logo.url}}" width="80" height="77" alt="image"></a>
                                                        </div>
                                                        <div class="fixture-team-name fixture-team-left">
                                                            <h1>{{each.home_team.name}}</h1>
                                                            <p>{{each.home_team.state}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="fixture-team-date">
                                                        <h1>{{each.date_of_match}}</h1>
                                                        <p>{{each.match_location}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="match-right">
                                                        <div class="fixture-team-name fixture-team-right text-right">
                                                            <h1>{{each.away_team.name}}</h1>
                                                            <p>{{each.away_team.state}}</p>
                                                        </div>
                                                        <div class="fixture-team-img">
                                                            <a href="{% url "stats:team-page" each.away_team.pk each.away_team.name|slugify %}"><img src="{{each.away_team.logo.url}}" width="80" height="77" alt="image"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}



                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div role="tabpanel" class="tab-pane" id="fixtures">


                        <div class="fixture-section">
                            <div class="container">

                                <div class="row inner-custom-row">
                                    <div class="col-md-12">
                                        {% for each in fixtures1 %}

                                        <div class="row">
                                            <div class="white-match">
                                                <div class="col-md-4">
                                                    <div class="match-left">
                                                        <div class="fixture-team-img">
                                                            <a href="{% url "stats:team-page" each.home_team.pk each.home_team.name|slugify %}"><img src="{{each.home_team.logo.url}}" width="80" height="77" alt="image"></a>
                                                        </div>
                                                        <div class="fixture-team-name fixture-team-left">
                                                            <h1>{{each.home_team.name}}</h1>
                                                            <p>{{each.home_team.state}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="fixture-team-date">
                                                        <h1>{{each.date_of_match}}</h1>
                                                        <p>{{each.match_location}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="match-right">
                                                        <div class="fixture-team-name fixture-team-right text-right">
                                                            <h1>{{each.away_team.name}}</h1>
                                                            <p>{{each.away_team.state}}</p>
                                                        </div>
                                                        <div class="fixture-team-img">
                                                            <a href="{% url "stats:team-page" each.away_team.pk each.away_team.name|slugify %}"><img src="{{each.away_team.logo.url}}" width="80" height="77" alt="image"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for each in fixtures2 %}

                                        <div class="row">
                                            <div class="white-match">
                                                <div class="col-md-4">
                                                    <div class="match-left">
                                                        <div class="fixture-team-img">
                                                            <a href="{% url "stats:team-page" each.home_team.pk each.home_team.name|slugify %}"><img src="{{each.home_team.logo.url}}" width="80" height="77" alt="image"></a>
                                                        </div>
                                                        <div class="fixture-team-name fixture-team-left">
                                                            <h1>{{each.home_team.name}}</h1>
                                                            <p>{{each.home_team.state}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="fixture-team-date">
                                                        <h1>{{each.date_of_match}}</h1>
                                                        <p>{{each.match_location}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="match-right">
                                                        <div class="fixture-team-name fixture-team-right text-right">
                                                            <h1>{{each.away_team.name}}</h1>
                                                            <p>{{each.away_team.state}}</p>
                                                        </div>
                                                        <div class="fixture-team-img">
                                                            <a href="{% url "stats:team-page" each.away_team.pk each.away_team.name|slugify %}"><img src="{{each.away_team.logo.url}}" width="80" height="77" alt="image"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div role="tabpanel" class="tab-pane" id="squad">
                        <div class="fixture-section">

                            <div class="container">
                                <div class="row inner-custom-row">
                                    <div class="col-md-12">

                                        {% for each in team.players.all %}
                                        <div class="player-total-details">
                                            <div class="player-name-img player-inner">
                                                <div class="profile-image">
                                                    <a href="{% url "stats:player-page" each.pk each.name|slugify %}"><img src="{{each.picture.url}}" width="70" height="70" alt="player_image"></a>
                                                </div>
                                                <div class="profile-caption profile-caption1">
                                                    <!-- <h3>#16</h3> -->
                                                    <p>{{each.name}}</p>
                                                </div>
                                            </div>

                                            <div class="player-position player-inner" >
                                                <h3>{{each.get_player_type_display}} <i class="fa fa-street-view" aria-hidden="true"></i></h3>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div role="tabpanel" class="tab-pane" id="management">
                        <div class="fixture-section">

                            <div class="container">
                                <div class="row inner-custom-row">
                                    <div class="col-md-12">

                                        {% for each in team.managers.all %}
                                        <div class="player-total-details">
                                            <div class="player-name-img player-inner">
                                                <div class="profile-image">
                                                    <a href="#"><img src="{{each.picture.url}}" width="70" height="70" alt="manager_image"></a>
                                                </div>
                                                <div class="profile-caption profile-caption1">
                                                    <!-- <h3>#16</h3> -->
                                                    <p>{{each.name}}</p>
                                                </div>
                                            </div>
                                                <!-- <div class="player-country player-inner">
                                                    <div class="profile-image">
                                                        <a href="#"><img src="images/player-country2.png" width="36" height="36" alt=""></a>
                                                    </div>
                                                    <div class="profile-caption profile-caption2">
                                                        <p>FR</p>
                                                    </div>
                                                </div> -->
                                                <div class="player-position player-inner">
                                                    <h3>{{each.get_manager_type_display}} <i class="fa fa-street-view" aria-hidden="true"></i></h3>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
