{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{flatpage.title}}
{% endblock title %}

{% block content %}
<!-- START PAGE TITILE SECTION -->
<div class="player-profile-section page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="section-title profile-title">
                        <h1>{{flatpage.title}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF /. PAGE TITLE SECTION -->

    <div class="blog-container-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-container">
                        <!-- START BLOG ITEMS -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blog-single-content">
                                    <p>
                                      {{flatpage.content|safe}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div><!-- END OF /. BLOG CONTAINER SECTION -->        

{% endblock content %}
